@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #A9A3CD;
    --color-primary-dark: #998FD6;

    --color-secondary: #FDBD89;
    --color-secondary-dark: #FFA964;

    --color-tertiary: #D1DDE5;
    --color-tertiary-dark: #B4D3E8; 

    --color-light-gray: #A3A3A3;

    --font-family: "Ubuntu", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 82.5%;
    }
}

@media only screen and (max-width: 912px) {
    html {
        font-size: 75%;
    }
}



@media only screen and (max-width: 600px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (max-height: 800px) and (max-width: 400px){
    html {
        font-size: 50%;
    }
}

@media only screen and (max-height: 740px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-height: 600px) {
    html {
        font-size: 42%;
    }
}