@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: #a9a3cd;
	--color-primary-dark: #998fd6;

	--color-secondary: #fdbd89;
	--color-secondary-dark: #ffa964;

	--color-tertiary: #d1dde5;
	--color-tertiary-dark: #b4d3e8;

	--color-light-gray: #a3a3a3;

	--font-family: "Ubuntu", sans-serif;
}

html {
	font-size: 62.5%;
	width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: var(--font-family);
	font-size: 1.6rem;
	font-weight: 400;
	overflow: hidden;
}

@media only screen and (max-width: 75em) {
	html {
		font-size: 50%;
	}
}

@media only screen and (max-width: 37.6em) {
	html {
		font-size: 45%;;
	}
}
